{% extends 'base.html.twig' %}

{% block title %}section recettes{% endblock %}

{% block body %}

    <h1>index des recettes</h1>
    <p>lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci, alias animi aspernatur atque autem blanditiis consequatur corporis cumque delectus doloremque doloribus ducimus ea eius eligendi eos error est eum ex explicabo facere fugiat fugit harum id illum impedit in incidunt ipsa ipsam ipsum iure labore laborum laudantium magnam maxime minima minus molestiae mollitia natus nemo neque nihil nisi nobis non nulla numquam obcaecati odit officiis omnis optio pariatur perferendis perspiciatis placeat praesentium provident quae quam quas qui quia quidem quisquam quo ratione recusandae rem repellat repudiandae rerum saepe sapiente sequi similique sit soluta sunt suscipit tempora tenetur totam ullam unde vel veniam veritatis voluptas voluptates voluptatum.</p>

    <a class="btn btn-success" href="{{ path('recipe.new') }}">Ajouter une recette</a>

    <table class="table">
        <thead>
            <tr>
                <th>Titre</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for recette in recettes %}
                <tr>
                    <td>{{ recette.titre }}</td>
                    <td>
                        <div class="d-flex gap-1">
                            <a href="{{ path('recipe.show', {'slug': recette.slug, 'id': recette.id}) }}" class="btn btn-sm btn-primary">Voir</a>
                            <a href="{{ path('recipe.edit', {'id': recette.id}) }}" class="btn btn-sm btn-warning">Modifier</a>
                            <form action="{{ path('recipe.delete', {'id': recette.id}) }}" method="post">
                                <input type="hidden" name="_method" value="DELETE">
                                <button type="submit" class="btn btn-sm btn-danger">Supprimer</button>
                            </form>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </tbody>

    
{% endblock %}
